@inherits LayoutComponentBase

@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> localizer

<audio id="notification" src="/media/notification.mp3" />

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>

<MudDialogProvider
    NoHeader="false"
    FullWidth="false"
    CloseButton="true"
    DisableBackdropClick="true"
    CloseOnEscapeKey="true"
    MaxWidth="MaxWidth.Large"
    Position="DialogPosition.Center"
/>
<MudSnackbarProvider />

<AuthorizeView>
    <NotAuthorized>
        <MudAppBar Elevation="3">
            <MudSpacer />

            <MudMenu EndIcon="@Icons.Filled.KeyboardArrowDown" Label="@localizer["Support"]" Color="Color.Inherit" Direction="Direction.Right" OffsetY>
                <MudMenuItem Link="https://www.cryptopro.ru/products/cades/plugin" Target="_blank">@localizer["Preparation for work"]</MudMenuItem>
                <MudMenuItem Link="Files/Manuals/Registration.pdf" Target="_blank">@localizer["Registration"]</MudMenuItem>
            </MudMenu>

            <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />

            @*<MudTooltip Delay="@delay" Duration="@duration" Text="@localizer["Language"]"><LanguageSelector /></MudTooltip>*@

            <MudTooltip Delay="@delay" Duration="@duration" Text="@localizer["Toggle Dark Mode"]">
                <MudIconButton Icon="@(_isDarkMode ? Icons.Material.TwoTone.LightMode : Icons.Material.TwoTone.DarkMode)" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
            </MudTooltip>
        </MudAppBar>

        <CascadingValue Value="hubConnection" Name="hubConnection">
            <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
                <MudPaper Elevation="25" Class="pa-8" Style="width: 552px; background-color: var(--mud-palette-background-grey);">
                    @Body
                </MudPaper>
            </MudContainer>
        </CascadingValue>
    </NotAuthorized>

    <Authorized>
        <div class="d-none">@(LoadDataAsync())</div>

        <MudLayout>
            <MudAppBar Elevation="3">
                <MudIconButton Icon="@(_drawerOpen ? Icons.Material.Outlined.MenuOpen : Icons.Material.Outlined.Menu)" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />

                <MudSpacer />

                @*<MudHidden Breakpoint="Breakpoint.Xs"></MudHidden>*@
                <MudMenu Icon="@Icons.Material.TwoTone.PrivacyTip" Color="Color.Inherit" EndIcon="@Icons.Filled.KeyboardArrowDown" Direction="Direction.Right" OffsetY>
                    <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@localizer["Support"]</b></MudText>
                    <MudMenuItem Link="Files/Manuals/UserGuide.pdf" Target="_blank">@localizer["User Guide"]</MudMenuItem>
                    <MudMenuItem Disabled="true">@localizer["Check settings"]</MudMenuItem>
                    
                    <MudDivider />
                    
                    <MudMenuItem OnClick="@OnSignDoc">@localizer["Sign Doc"]</MudMenuItem>
                    <MudMenuItem Disabled="true">@localizer["Create Hash"]</MudMenuItem>
                    <MudMenuItem Disabled="true">@localizer["Verify Signature"]</MudMenuItem>
                </MudMenu>

                <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5"/>

                @*<LanguageSelector />*@
                <MudTooltip Delay="@delay" Duration="@duration" Text="@localizer["Toggle Dark Mode"]">
                    <MudIconButton OnClick="@((e) => DarkMode())"
                        Icon="@(_isDarkMode ? Icons.Material.TwoTone.LightMode : Icons.Material.TwoTone.DarkMode)"
                        Color="@(_isDarkMode ? Color.Warning : Color.Dark)" />
                </MudTooltip>

                <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Direction="Direction.Right" OffsetY>
                    <ChildContent>
                        <UserCard Class="mt-n2" />
                        
                        <MudDivider />
                        
                        <MudMenuItem Link="/personal/account" >
                            <div class="d-flex flex-row" style="height: 24px;">
                                <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Default" Class="mr-4"/>
                                <MudItem Class="my-auto">@localizer["Account"]</MudItem>
                            </div>
                        </MudMenuItem>
                        
                        <MudMenuItem OnClick="(() => Logout())">
                                <div class="d-flex flex-row" style="height: 24px;">
                                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Default" Class="mr-4"/>
                                    <MudItem Class="my-auto">@localizer["Logout"]</MudItem>
                                </div>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Never" Variant="@DrawerVariant.Mini" OpenMiniOnHover="false">
                
                    <NavMenu IsOpen=@_drawerOpen NavCounts=@NavCounts />
                
            </MudDrawer>

            <MudMainContent>
                <!--<MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudToolBar DisableGutters="true">
                        @*<MudBreadcrumbs Items="_items"></MudBreadcrumbs>*@
                        <MudSpacer />
                        <MudButton Variant="Variant.Text" Link="https://mudblazor.com/" Style="color:#594AE2;">MudBlazor</MudButton>
                        <MudButton Variant="Variant.Text" Link="https://github.com/" Style="color:#424242;" Class="mr-3">Source Code</MudButton>
                    </MudToolBar>
                </MudHidden>-->

                @*<CascadingValue Value="hubConnection"></CascadingValue>*@
                    <CascadingValue Value="@this.NavCounts">
                        @Body
                    </CascadingValue>
            </MudMainContent>

        </MudLayout>

    </Authorized>
</AuthorizeView>