@namespace EDO_FOMS.Client.Pages.Dirs

@using EDO_FOMS.Application.Features.Directories.Commands
@using EDO_FOMS.Application.Features.DocumentTypes.Queries
@using EDO_FOMS.Application.Models.Dir
@using EDO_FOMS.Application.Responses.Docums
@using EDO_FOMS.Domain.Enums
@using EDO_FOMS.Domain.Entities.Dir
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations

@page "/dirs/routes/route-card/{Id:int?}"

@inject Microsoft.Extensions.Localization.IStringLocalizer<RouteCard> _localizer

<MudPaper Square="true" Elevation="3" Style="z-index: 1;">
    <MudToolBar>
        <MudTooltip Delay="@delay" Duration="@duration" Text="@_localizer["Document signing routes"]" Color="Color.Tertiary" Placement="Placement.Right">
            @*<MudButton Variant="Variant.Text" Href="/dirs/routes" >@_localizer["Routes"]</MudButton>*@
            <MudIconButton Icon="@Icons.Material.Outlined.Map" Href="/dirs/routes" aria-label="Routes"></MudIconButton>
        </MudTooltip>

        <MudIcon Icon="@Icons.Material.Outlined.NavigateNext" Title=">" Color="Color.Default" />

        <MudTooltip Delay="@delay" Duration="@duration" Text="@_localizer["Route Card"]" Color="Color.Tertiary" Placement="Placement.Right">
            <MudText Class="ml-1" Typo="Typo.button">@_localizer[Id is null ? "New card": "Card"]</MudText>
        </MudTooltip>
    </MudToolBar>
</MudPaper>

<MudContainer MaxWidth="MaxWidth.False" Class="pa-6">
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" @ref="_tabs">
        <ChildContent>
            <MudTabPanel Text="@_localizer["Title"]">
                <MudCard>
                    <MudCardContent>
                        <MudGrid Style="max-height: 70vh; overflow-y: scroll;">
                            <MudItem xs="3">
                                <MudTextField @bind-Value="Route.Code" Label="@_localizer["Code"]"/>
                            </MudItem>
                            <MudItem xs="3">
                                <MudTextField @bind-Value="Route.Short" Label="@_localizer["Short Name"]"/>
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="Route.Name" Label="@_localizer["Name"]" />
                            </MudItem>

                            <MudItem xs="3">
                                <MudSelect MultiSelection="true" SelectAll="true" SelectAllText="@_localizer["Select all"]" Label="@_localizer["Org Types"]"
                                           AdornmentIcon="@Icons.Material.Outlined.Ballot" AnchorOrigin="Origin.BottomCenter"
                                           @bind-SelectedValues="SelectedOrgTypes" T="OrgTypes" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiOrgTypesText))">

                                    <MudSelectItem T="OrgTypes" Value="@OrgTypes.MO">@_localizer["MO"]</MudSelectItem>
                                    <MudSelectItem T="OrgTypes" Value="@OrgTypes.SMO">@_localizer["SMO"]</MudSelectItem>
                                    <MudSelectItem T="OrgTypes" Value="@OrgTypes.Fund">@_localizer["Fund"]</MudSelectItem>

                                    <MudSelectItem T="OrgTypes" Value="@OrgTypes.MEO">@_localizer["MEO"]</MudSelectItem>
                                    <MudSelectItem T="OrgTypes" Value="@OrgTypes.Treasury">@_localizer["Treasury"]</MudSelectItem>
                                </MudSelect>
                            </MudItem>

                            <MudItem xs="3">
                                <MudSelect T="UserBaseRoles" @bind-Value="Route.ForUserRole" Label="@_localizer["User Role"]" AnchorOrigin="Origin.BottomCenter">
                                    <MudSelectItem T="UserBaseRoles" Value="UserBaseRoles.Employee">
                                        <div class="d-flex flex-row" style="height: 24px;">
                                            <MudIcon Icon="@Icons.Material.Outlined.HistoryEdu" Color="Color.Default" Size="Size.Small" Class="mr-2" />
                                            @_localizer["Employee"]
                                        </div>
                                    </MudSelectItem>

                                    <MudSelectItem T="UserBaseRoles" Value="UserBaseRoles.User">
                                        <div class="d-flex flex-row" style="height: 24px;">
                                            <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Default" Size="Size.Small" Class="mr-2" />
                                            @_localizer["User"]
                                        </div>
                                    </MudSelectItem>
                                </MudSelect>
                            </MudItem>

                            <MudItem xs="6">
                                @*<MudTextField @bind-Value="Route.Name" Label="@_localizer["Executor"]" />*@
                                @*Label="@LabelByStep(act.Step)" Required="act.Step.Requred"*@

                                <MudAutocomplete T="ContactResponse" @bind-Value="@Route.Executor" SearchFunc="SearchContactsAsync"
                                                 ResetValueOnEmptyText="@resetValueOnEmptyText" CoerceText="@coerceText" CoerceValue="@coerceValue" Clearable="@clearable"
                                                 Adornment="Adornment.Start" AdornmentColor="Color.Default" AdornmentIcon="@Icons.Material.Outlined.SlowMotionVideo"
                                                 Placeholder="@_localizer["Executor"]" ToStringFunc="@(e => (e == null) ? null : ContactName(e))">

                                    <NoItemsTemplate>
                                        <MudText Align="Align.Start" Class="px-4 py-1" Color="Color.Warning">
                                            @_localizer["Employees not found"]
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>

                            <MudItem xs="6">
                                <MudSelect MultiSelection="true" SelectAll="true" SelectAllText="@_localizer["Select all"]" Label="@_localizer["Document Types"]"
                                           AdornmentIcon="@Icons.Material.Outlined.Ballot" AnchorOrigin="Origin.BottomCenter"
                                           @bind-SelectedValues="SelectedDocTypes" T="DocTypeResponse" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiDocTypesText))">
                                    @foreach (var type in _docTypes)
                                    {
                                        <MudSelectItem T="DocTypeResponse" Value="@type">@type.Label</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>

                            <MudItem xs="6">
                                <MudSelect T="EndActions" @bind-Value="Route.EndAction" Label="@_localizer["End Action"]" AnchorOrigin="Origin.BottomCenter">
                                    <MudSelectItem T="EndActions" Value="@EndActions.SignedByAll">
                                        <div class="d-flex flex-row" style="height: 24px;">
                                            <MudIcon Icon="@Icons.Material.Outlined.AssignmentTurnedIn" Color="Color.Default" Size="Size.Small" Class="mr-2" />
                                            @_localizer["Signed by all"]
                                        </div>
                                    </MudSelectItem>

                                    <MudSelectItem T="EndActions" Value="@EndActions.ToArchive">
                                        <div class="d-flex flex-row" style="height: 24px;">
                                            <MudIcon Icon="@Icons.Material.Outlined.Archive" Color="Color.Default" Size="Size.Small" Class="mr-2" />
                                            @_localizer["To archive"]
                                        </div>
                                    </MudSelectItem>
                                </MudSelect>
                            </MudItem>

                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.IsActive" Label="@_localizer["Is Active"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.PlayCircle" UnCheckedColor="Color.Default" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.DateIsToday" Label="@_localizer["Date Is Today"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.CalendarToday" UnCheckedColor="Color.Default" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.NameOfFile" Label="@_localizer["Name Of File"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.TextRotationNone" UnCheckedColor="Color.Default" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.ParseFileName" Label="@_localizer["Parse File Name"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.SettingsEthernet" UnCheckedColor="Color.Default" />
                            </MudItem>

                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.AllowRevocation" Label="@_localizer["Allow Revocation"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.SettingsBackupRestore" UnCheckedColor="Color.Default" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.ProtectedMode" Label="@_localizer["Protected Mode"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.Lock" UnCheckedColor="Color.Default" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.ShowNotes" Label="@_localizer["Show Sticky Notes"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.StickyNote2" UnCheckedColor="Color.Default" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.IsPackage" Label="@_localizer["Is Package"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.ListAlt" UnCheckedColor="Color.Default" Disabled />
                            </MudItem>

                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.CalcHash" Label="@_localizer["Calculate hash"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.Calculate" UnCheckedColor="Color.Default" Disabled />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.AttachedSign" Label="@_localizer["Attached Sign"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.AttachFile" UnCheckedColor="Color.Default" Disabled />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.DisplayedSign" Label="@_localizer["Displayed Sign"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.FormatShapes" UnCheckedColor="Color.Default" Disabled="@(!Route.AttachedSign)" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudCheckBox @bind-Checked="@Route.UseVersioning" Label="@_localizer["Use Versioning"]" Color="Color.Primary"
                                             CheckedIcon="@Icons.Material.Outlined.Pin" UnCheckedColor="Color.Default" Disabled />
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField Lines="3" Variant="Variant.Outlined" @bind-Value="Route.Description" Label="@_localizer["Description"]" />
                            </MudItem>

                            @*<MudItem xs="3">
                            <MudCheckBox @bind-Checked="@Route.HasDetails" Label="@_localizer["Stage Details"]" Color="Color.Primary"
                            CheckedIcon="@Icons.Material.Outlined.Settings" UnCheckedColor="Color.Default" Disabled />
                            </MudItem>*@
                        </MudGrid>
                    </MudCardContent>

                    <MudCardActions>
                        <MudButton Size="Size.Large" Class="mx-2" FullWidth Variant="Variant.Outlined" StartIcon="@Icons.Material.Rounded.Close" Color="Color.Default"
                                   OnClick="Close">
                            @_localizer["Cancel"]
                        </MudButton>
                        @*EndIcon="@Icons.Material.Rounded.DoneOutline"*@
                        @if (_canSystemEdit)
                        {
                        <MudButton Class="mx-2" Size="Size.Large" FullWidth Variant="Variant.Outlined" Color="Color.Primary"
                                   OnClick="() => SaveAsync()">
                            @_localizer["Save"]
                        </MudButton>
                        }
                        <MudButton Size="Size.Large" Class="mx-2" FullWidth Variant="Variant.Outlined" EndIcon="@Icons.Material.Rounded.KeyboardDoubleArrowRight" Color="Color.Default"
                                   OnClick="() => _tabs.ActivatePanel(1)">
                            @_localizer["Stages"]
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudTabPanel>

            <MudTabPanel Text="@_localizer["Stages"]">
                <MudCard>
                    <MudCardContent>
                        <MudGrid Style="max-height: 70vh; overflow-y: scroll;">
                            <MudDropContainer T="RouteStepModel" @ref="_dropContainer" Items="@Route.Steps"
                                              ItemsSelector="@((step, column) => step.StageNumber.ToString() == column)" ItemDropped="StepUpdated"
                                              Class="d-flex flex-row" CanDropClass="mud-border-success">
                                <ChildContent>
                                    @foreach (var stage in Route.Stages)
                                    {
                                        <MudPaper Elevation="0" Width="250px" MinHeight="560px" Class="pa-0 ma-4 d-flex flex-column rounded-lg border-2 border-dashed mud-border-lines-default">
                                            <MudToolBar DisableGutters="true">
                                                <MudText Class="ml-4" Typo="Typo.button">@_localizer["Stage"] № @stage.Number</MudText>
                                                <MudSpacer />
                                                @if (stage.Number > 1 && stage.Number == Route.Stages.Count)
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Rounded.Close" OnClick="DeleteStage" aria-label="delete"></MudIconButton>
                                                }
                                            </MudToolBar>

                                            <MudDivider />

                                            <MudList Clickable="true" Class="px-4 py-0 mud-height-full">
                                                <MudDropZone T="RouteStepModel" Identifier="@stage.Number.ToString()" Class="mud-height-full"></MudDropZone>
                                            </MudList>

                                            <MudButton OnClick="@(() => AddStepAsync(stage.Number))" StartIcon="@Icons.Filled.Add"
                                                   FullWidth="true" Color="Color.Primary" Size="Size.Large">
                                                @_localizer["Step"]
                                            </MudButton>
                                        </MudPaper>
                                    }
                                    <MudPaper Class="pa-4" Elevation="0" Width="250px">
                                        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Filled.Add"
                                                   Color="Color.Default" Class="rounded-lg py-2" FullWidth="true" Style="height: 56px;"
                                                   OnClick="AddNewStage">
                                            @_localizer["Stage"]
                                        </MudButton>
                                    </MudPaper>
                                </ChildContent>

                                <ItemRenderer>
                                    <MudListItem DisableRipple Class="@StepClass(context.Requred)" OnClick="() => EditStepAsync(context)">
                                        <div class="d-flex flex-row rounded-lg" style="padding: 4px 16px; height: 32px; background-color: var(--mud-palette-background-grey) !important;">
                                            @if (context.ActType == ActTypes.Signing)
                                            {
                                                <MudIcon Class="mr-2" Color="Color.Error" Icon="@Icons.Material.Outlined.Draw" />
                                            }
                                            else if (context.ActType == ActTypes.Agreement)
                                            {
                                                <MudIcon Class="mr-2" Color="Color.Warning" Icon="@Icons.Material.Outlined.OfflinePin" />
                                            }
                                            else
                                            {
                                                <MudIcon Class="mr-2" Color="Color.Success" Icon="@Icons.Material.Outlined.MapsUgc" />
                                            }

                                            <MudText Style="vertical-align: middle;">
                                                @_localizer[context.ActType.ToString()]
                                            </MudText>

                                            @*<MudSpacer />
                                            <MudIconButton Icon="@Icons.Material.Rounded.Close" Size="Size.Small" Edge="Edge.End" OnClick="() => DeleteStep()" />*@
                                        </div>

                                        <MudDivider />

                                        @if (context.MemberGroup == MemberGroups.OnlyHead)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.WorkspacePremium" Color="Color.Warning" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Руководитель</MudText>
                                            </div>
                                        }

                                        @if (context.OrgType == OrgTypes.Undefined)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.Domain" Color="Color.Default" Size="Size.Small" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Любая орг-я</MudText>
                                            </div>
                                        }
                                        else if (context.OrgType == OrgTypes.MO)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.MedicalServices" Color="Color.Primary" Size="Size.Small" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">МО</MudText>
                                            </div>
                                        }
                                        else if (context.OrgType == OrgTypes.SMO)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.Museum" Color="Color.Success" Size="Size.Small" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">СМО</MudText>
                                            </div>
                                        }
                                        else if (context.OrgType == OrgTypes.Fund)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.HealthAndSafety" Color="Color.Error" Size="Size.Small" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">ФОМС</MudText>
                                            </div>
                                        }
                                        else if (context.OrgType == OrgTypes.MEO)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.LocalPolice" Color="Color.Secondary" Size="Size.Small" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Военкомат</MudText>
                                            </div>
                                        }
                                        else if (context.OrgType == OrgTypes.Treasury)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.AccountBalance" Color="Color.Warning" Size="Size.Small" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Казначейство</MudText>
                                            </div>
                                        }

                                        <MudDivider />

                                        @*<div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                        <MudIcon Icon="@Icons.Material.Outlined.ReportProblem" Color="Color.Error" Class="mr-2" />
                                        <MudText Style="vertical-align: middle;">Обязательно</MudText>
                                        </div>*@

                                        @if (context.SomeParticipants)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                @if (context.AllRequred)
                                                {
                                                    <MudIcon Icon="@Icons.Material.TwoTone.Groups" Color="Color.Default" Class="mr-2" />
                                                    <MudText Style="vertical-align: middle;">Группа (все)</MudText>
                                                }
                                                else
                                                {
                                                    <MudIcon Icon="@Icons.Material.Outlined.SafetyDivider" Color="Color.Default" Class="mr-2" />
                                                    <MudText Style="vertical-align: middle;">Группа (любой)</MudText>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Default" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Только один</MudText>
                                            </div>
                                        }

                                        @if (context.HasAgreement)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.FactCheck" Color="Color.Default" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Доп.согласование</MudText>
                                            </div>
                                        }

                                        @if (context.HasReview)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.MapsUgc" Color="Color.Default" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Рецензирование</MudText>
                                            </div>
                                        }

                                        @if (context.AutoSearch > 0)
                                        {
                                            <MudDivider />
                                        }

                                        @if (context.AutoSearch > 0)
                                        {
                                            <div class="d-flex flex-row" style="padding: 4px 16px; height: 32px;">
                                                <MudIcon Icon="@Icons.Material.Outlined.Search" Color="Color.Default" Class="mr-2" />
                                                <MudText Style="vertical-align: middle;">Поиск: @context.AutoSearch</MudText>
                                            </div>
                                        }
                                    </MudListItem>
                                </ItemRenderer>
                            </MudDropContainer>
                        </MudGrid>
                    </MudCardContent>

                    <MudCardActions>
                        <MudButton Class="mx-2" Size="Size.Large" FullWidth Variant="Variant.Outlined" StartIcon="@Icons.Material.Rounded.KeyboardDoubleArrowLeft" Color="Color.Default"
                                   OnClick="() => _tabs.ActivatePanel(0)">
                            @_localizer["Title"]
                        </MudButton>
                        @*EndIcon="@Icons.Material.Rounded.DoneOutline"*@
                        @if (_canSystemEdit)
                        {
                        <MudButton Class="mx-2" Size="Size.Large" FullWidth Variant="Variant.Outlined" Color="Color.Primary"
                                   OnClick="() => SaveAsync()">
                            @_localizer["Save"]
                        </MudButton>
                        }
                        @if (Route.ParseFileName)
                        {
                            <MudButton Class="mx-2" Size="Size.Large" FullWidth Variant="Variant.Outlined" EndIcon="@Icons.Material.Rounded.KeyboardDoubleArrowRight" Color="Color.Default"
                                   OnClick="() => _tabs.ActivatePanel(2)">
                                @_localizer["File"]
                            </MudButton>
                        }
                    </MudCardActions>
                </MudCard>
            </MudTabPanel>

            <MudTabPanel Text="@_localizer["File"]" Disabled="@(!Route.ParseFileName)">
                <MudCard>
                    <MudCardContent>
                        <MudGrid Style="max-height: 70vh; overflow-y: scroll;">
                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.FileName" Label="@_localizer["File name example"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.SettingsEthernet" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudTextField @bind-Value="Pattern.FileMask" Label="@_localizer["File mask"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.FilterList" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudTextField @bind-Value="Pattern.FileAccept" Label="@_localizer["File accept"]" ReadOnly
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.FilterCenterFocus" />
                            </MudItem>

                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.DocTitle" Label="@_localizer["Doc Title"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Label" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.DocNumber" Label="@_localizer["Doc Number"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Pin" />
                            </MudItem>

                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.DocDate" Label="@_localizer["Doc Date"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.CalendarToday" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.DocNotes" Label="@_localizer["Doc Notes"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.StickyNote2" />
                            </MudItem>

                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.CodeMo" Label="@_localizer["Code MO"]" AdornmentColor="Color.Default"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.MedicalServices" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="Pattern.CodeSmo" Label="@_localizer["Code SMO"]" AdornmentColor="Color.Default"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Museum" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Size="Size.Large" Class="mx-2" FullWidth Variant="Variant.Outlined" StartIcon="@Icons.Material.Rounded.KeyboardDoubleArrowLeft" Color="Color.Default"
                                   OnClick="() => _tabs.ActivatePanel(1)">
                            @_localizer["Stages"]
                        </MudButton>
                        @*EndIcon="@Icons.Material.Rounded.DoneOutline"*@
                        @if (_canSystemEdit)
                        {
                        <MudButton Class="mx-2" Size="Size.Large" FullWidth Variant="Variant.Outlined" Color="Color.Primary"
                                   OnClick="() => SaveAsync()">
                            @_localizer["Save"]
                        </MudButton>
                        }
                        <MudButton Size="Size.Large" Class="mx-2" FullWidth Variant="Variant.Outlined" EndIcon="@Icons.Material.Rounded.PlaylistAddCheck" Color="Color.Default"
                                   OnClick="() => ParseCheckAsync()">
                            @_localizer["Check"]
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudTabPanel>

            <MudTabPanel Text="@_localizer["Package"]" Disabled></MudTabPanel>
        </ChildContent>

        <Header>
            <MudDivider Vertical />
            <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Outlined.Close" OnClick="Close" aria-label="Routes"></MudIconButton>
        </Header>
    </MudTabs>
</MudContainer>

<MudDrawer Anchor="Anchor.Right" Elevation="1" Variant="@DrawerVariant.Persistent" ClipMode="DrawerClipMode.Always">
    <MudDrawerHeader Style="padding: 8px 4px 8px 16px;">
        <MudText Style="align-self:center;" Typo="Typo.h6" Inline="true">@_localizer[""]</MudText>
    </MudDrawerHeader>

    <MudDivider />

    <MudList Clickable="true" Class="py-0"></MudList>
</MudDrawer>
