@namespace EDO_FOMS.Client.Pages.Main
@page "/home"
@page "/"

@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12" Class="my-16 pt-16">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@Icons.Material.TwoTone.HealthAndSafety" Color="Color.Error" Size="Size.Large" Style="width: 250px; height: 250px;" />
            </div>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2" Color="Color.Primary">@home.Title</MudText>
            <MudText Align="Align.Center" Typo="Typo.h6">@home.Description</MudText>
        </MudItem>
    </MudGrid>

    <MudItem Class="support-info">
        @if (_canSystemEdit)
        {
            <div style="width: 100%; display: flex;">
                <MudSpacer />
                <MudIconButton Color="Color.Default" OnClick="PageParams" Icon="@Icons.Material.TwoTone.Edit"></MudIconButton>
            </div>
        }

        <MudText Align="Align.Right" Typo="Typo.h6" Color="Color.Info">Контакты по работе с документами:</MudText>
        @if (!string.IsNullOrWhiteSpace(home.DocSupportPhone))
        {
            <MudText Align="Align.Right" Typo="Typo.body1">@home.DocSupportPhone</MudText>
        }

        @if (!string.IsNullOrWhiteSpace(home.DocSupportEmail))
        {
            <MudText Align="Align.Right" Typo="Typo.body1">@home.DocSupportEmail</MudText>
        }

        <MudText Align="Align.Right" Typo="Typo.h6" Color="Color.Info">Контакты технической поддержки:</MudText>
        @if (!string.IsNullOrWhiteSpace(home.TechSupportPhone))
        {
            <MudText Align="Align.Right" Typo="Typo.body1">@home.TechSupportPhone</MudText>
        }

        @if (!string.IsNullOrWhiteSpace(home.TechSupportEmail))
        {
            <MudText Align="Align.Right" Typo="Typo.body1">@home.TechSupportEmail</MudText>
        }
    </MudItem>

    <MudItem Class="build-info">
        <MudButton Variant="Variant.Text" Color="Color.Default" OnClick="ShowChangeLogs">Версия от 14.09.2022</MudButton>
    </MudItem>

</MudContainer>