@namespace EDO_FOMS.Client.Pages

@inject Microsoft.Extensions.Localization.IStringLocalizer<DocAgreementsDialog> _localizer

@using EDO_FOMS.Application.Responses.Agreements
@using EDO_FOMS.Client.Infrastructure.Model.Docs

<MudDialog Style="background-color: var(--mud-palette-background-grey); min-width: 600px; width: 100%">
    <TitleContent>
        <MudText Typo="Typo.h6" Class="d-flex align-center">
            @($"{_localizer["Approval sheet"]}: {Doc.TypeName} №{Doc.Number} от {Doc.DateStr}г.")
        </MudText>
    </TitleContent>

    <DialogContent>
        <MudTable Hover="false" Dense="true" Bordered="false" Striped="false" Breakpoint="Breakpoint.Xs"
                  Loading="@(!_loaded)" LoadingProgressColor="Color.Info" Style="margin-bottom: 0;"
                  @ref="_mudTable" T="DocAgrsCardStageModel" @bind-SelectedItem="_stage" OnRowClick="OnStageClick"
                  Items="@DocAgrsCard.Stages.Values" Context="stage">

            <ColGroup>
                <col style="width:15%;" />
                <col style="width:25%;" />
                <col style="width:40%;" />
                <col style="width:20%;" />
            </ColGroup>

            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>@_localizer["Participant"]</MudTh>
                <MudTh>@_localizer["Certificate"]</MudTh>
                <MudTh>@_localizer["Signature"]</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd>
                    <MudButton Variant="Variant.Text" Size="Size.Small" OnClick="@(() => ShowBtnPress(stage))">
                        @_localizer["Stage"] @stage.Number
                        <MudIcon Icon="@((stage.ShowAgreements) ? Icons.Material.Rounded.KeyboardArrowUp : Icons.Material.Rounded.KeyboardArrowDown)" Title="Favorite" />
                    </MudButton>
                </MudTd>

                <MudTh></MudTh>
                <MudTd></MudTd>
                <MudTd></MudTd>
            </RowTemplate>

            <ChildRowContent>
                @if (stage.ShowAgreements)
                {
                    <MudTr>
                        <td colspan="4">
                            <MudCard Elevation="0">
                                <MudCardContent Class="pa-0">
                                    <MudTable Hover="true" Dense="false" Bordered="false" Striped="true" Breakpoint="Breakpoint.Xs"
                                          Loading="@(!_loaded)" LoadingProgressColor="Color.Info" Style="margin-bottom: 0;"
                                          Items="@stage.Agreements" Context="agreement">
                                        <ColGroup>
                                            <col style="width:15%;" />
                                            <col style="width:25%;" />
                                            <col style="width:40%;" />
                                            <col style="width:20%;" />
                                        </ColGroup>

                                        <RowTemplate>
                                            <MudTh></MudTh>
                                            <MudTd DataLabel="Nr">
                                                @(string.IsNullOrWhiteSpace(agreement.OrgShort) ? agreement.OrgInn : agreement.OrgShort)<br />
                                                @agreement.EmplSurname<br />
                                                @agreement.EmplGivenName
                                            </MudTd>
                                            <MudTd DataLabel="Nr">
                                                @agreement.CertThumbprint<br />
                                                @agreement.CertFromDate - @agreement.CertTillDate<br />
                                                @agreement.CertAlgorithm
                                            </MudTd>
                                            <MudTd DataLabel="Nr">
                                                @agreement.Answered<br />
                                                @agreement.Action<br />
                                                @agreement.State<br />
                                            </MudTd>
                                        </RowTemplate>

                                    </MudTable>
                                </MudCardContent>
                            </MudCard>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>

        </MudTable>
    </DialogContent>

    <DialogActions>

    </DialogActions>
</MudDialog>